.link_section {
  width: 100%;
  padding: 100px 0;
}

.link_container {
  width: 1110px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.link_section h2 {
  width: 90%;
  margin-bottom: 25px;
  font-weight: 500;
}

.link_section p {
  font-size: 18px;
}

.link_section span {
  margin-top: 30px;
  margin-bottom: 35px;
}

.count {
  margin-bottom: 25px;
}

.back_button {
  padding: 7px 15px;
  background: red;
  color: #fff;
  border-radius: 2px;
}

.back_button:hover {
  box-shadow: 0 14px 26px -12px rgba(244, 67, 54, 0.42),
    0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(244, 67, 54, 0.2);
}

@media (min-width: 480px) and (max-width: 767px) {
  .link_container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
@media (min-width: 768px) and (max-width: 1149px) {
  .link_container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
