.main_slide {
  width: 100%;
  padding: 65px 0 135px 0;
  color: #000;
}

.container {
  width: 1110px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.main_slide span {
  font-weight: 600;
  font-size: 20px;
  line-height: 21px;
  margin-bottom: 10px;
  margin-top: 50px;
  color: #002553;
}

.main_slide p {
  font-weight: 300;
  font-size: 18px;
  line-height: 18px;
  margin-bottom: 10px;
}
